<%- include('../includes/head.ejs')%>
</head>
<body>
<%- include('../includes/nav.ejs')%>
<div class="container">
    <div class="row">
        <% if(prods.length !== 0) { %>
            <% for (var prod of prods) {%>
                <div class="card ml-2 text-center col" style="width: 24%;">
                    <div class="card-body">
                        <h5 class="card-title"><%= prod.title %></h5>
                        <img src="<%= prod.imageUrl %>" class="card-img-top" alt="...">
                        <h5 class="card-title"><%= prod.price %></h5>
                        <p class="card-text"><small class="text-muted"><%= prod.description %></small></p>
                        <form action="/admin/edit-product/<%= prod._id%>" method="GET">
                            <div><button type="submit" class="btn btn-link">Edit product</button></div>
                        </form>
                        <form action="/admin/delete-product/<%= prod._id%>" method="POST">
                            <div><button type="submit" class="btn btn-link">Delete product</button></div>
                        </form>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <h1>No products found</h1>
        <% } %>
    </div>
</div>
</body>
<%- include('../includes/footer.ejs') %>