<%- include('../includes/head.ejs')%>
</head>
<body>
<%- include('../includes/nav.ejs')%>
    <div class="container">
        <div class="row">
            <% if(products.length !== 0) { %>
                <% for (var product of products) {%>
                    <div class="card ml-2 text-center col">
                        <div class="card-body">
                            <h5 class="card-title"><%= product.title %></h5>
                            <img src="<%= product.imageUrl %>" class="card-img-top" alt="...">
                            <h5 class="card-title"><%= product.price %> PLN</h5>
                            <p class="card-text"><small class="text-muted"><%= product.description %></small></p>
                            <form action="/products/product-details/<%= product._id%>" method="POST">
                                <button type="submit" class="btn btn-link">View details</button>
                            </form>
                            <form action="/cart/<%= product._id %>" method="POST">
                                <!-- <input type="hidden" name="productId" value="<%= product._id %>"> -->
                                <button type="submit" class="btn btn-primary">Add to cart</button>
                            </form>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <h1>No products found</h1>
            <% } %>
        </div>
    </div>
</body>
<%- include('../includes/footer.ejs') %>